# LAYER_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
LCONF_VERSION = "16"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

# meta-intel-openbmc has a config file that needs to be overridden
BBMASK = "/meta-intel-openbmc/meta-common/recipes-phosphor/ipmi/phosphor-ipmi-ipmb"

BBLAYERS ?= " \
  ##OEROOT##/meta \
  ##OEROOT##/meta-poky \
  ##OEROOT##/meta-openembedded/meta-oe \
  ##OEROOT##/meta-openembedded/meta-networking \
  ##OEROOT##/meta-openembedded/meta-perl \
  ##OEROOT##/meta-openembedded/meta-python \
  ##OEROOT##/meta-phosphor \
  ##OEROOT##/meta-aspeed \
  ##OEROOT##/openbmc-meta-intel \
  ##OEROOT##/meta-intel-openbmc \
  ##OEROOT##/openbmc-meta-intel/meta-common \
  ##OEROOT##/openbmc-meta-intel/meta-ast2600 \
  ##OEROOT##/openbmc-meta-intel/meta-ctl \
  ##OEROOT##/meta-security \
  "
