[Unit]
Description=Enable eMMC memory support
Before=xyz.openbmc_project.Software.Version.service

[Service]
Type=simple
RemainAfterExit=true
ExecStart=/usr/bin/enable-emmc.sh
ExecStartPost=/bin/sh -c 'sleep 5'

[Install]
WantedBy=multi-user.target
RequiredBy=xyz.openbmc_project.Software.Version.service
